---
---

<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>Is Cape Henlopen Open?</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.png">
  <meta name="description" content="Is Cape Henlopen State Park open for beach time">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- link to main stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
  <div class="container">
    <header>
        <h1>Is Cape Henlopen Open?</h1>
    </header>
    <div class="north">
      <h2>North Side</h2>
      {% include north.html %}
    </div>
    <div class="south">
      <h2>South Side</h2>
      {% include south.html %}
    </div>
    <div class="updated">
      <p>Last Updated: {{ page.last-modified-date | date: '%B %d, %Y' }}</p>
    </div>
  </div><!-- /.container -->
</body>

</html>
