<!DOCTYPE html>
<html>

<head>
  <title>Is Cape Henlopen Open?</title>
  <!-- link to main stylesheet -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
  <div class="container">
    <header>
        <h1>Is Cape Henlopen Open?</h1>
    </header>
    <div class="north">
      <h2>North Side</h2>
      {% include north.html %}
    </div>
    <div class="south">
      <h2>South Side</h2>
      {% include south.html %}
    </div>

  </div><!-- /.container -->
</body>

</html>
